.flex-div {
    display: flex;
    flex-direction: row;
    border : 1px gray solid;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.col {
    background-color: lightpink;
}