p {
    margin: 0;
    font-family: Arial;
}
.menu {
    border: 1px rgb(163, 162, 162) solid;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    width: 300px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 5px;
}

.count {
    background-color: rgb(38, 117, 246);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 12px;
    text-align: center;
}