.header {
    font-size: 25px;
    margin-bottom: 25px;
}
.location {
    display: block;
    margin-bottom: 20px;
    width: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    background-color: rgb(240, 240, 240);
    border: none;
}
.request {
    background-color: black;
    color: white;
    border:none;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    margin-right:10px;
}
.schedule {
    background-color: rgb(240, 240, 240);
    border:none;
    padding: 10px 22px 10px 22px;
    font-size: 14px;
}